@charset "utf-8";


body 
{
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}


.VisualizationMainPage #container 
{
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	


.VisualizationMainPage  #header 
{ 
	background: #003D7C; 
	color:#EF7C00;
	padding: 0 10px 0 20px; 
  
} 

.VisualizationMainPage #header h1 
{
	margin: 0; 
	padding: 10px 0; 
}


.VisualizationMainPage #mainContent 
{
	/*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}


/* 
.VisualizationMainPage #mainContent h1 
{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2 
{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3 
{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
} 
*/


.VisualizationMainPage #algoControlSection
{
	background: #e0f0ff; 
	color:#000000; 

}


.VisualizationMainPage #generalAnimationControlSection
{
	background: #e0f0ff; 
}


.VisualizationMainPage #footer 
{ 
	padding: 0 10px;
  background: #003D7C; 
	color:#EF7C00;
}


.VisualizationMainPage #footer  a 
{ 
  color: #EF7C00; 
}


.VisualizationMainPage #footer  p 
{
	margin: 0; 	
	padding: 10px 0; 
}

EM 
{
	text-decoration: bold;
}

	
